
*.pdb
*.exe
*.suo
/EmuLoader.Gui/bin/
/EmuLoader.Gui/obj/Release/
/EmuLoader.Gui/obj/Release/net8.0-windows/
/EmuLoader.Core/bin/Debug/
/EmuLoader.Core/bin/Debug/net8.0/
/EmuLoader.Gui/bin
/EmuLoader.Gui/obj
/TestProject/bin/Debug
/TestProject/obj
/TestProject/bin/Release
/EmuLoader.Core/bin/Debug/EmuLoader.Core.dll
/EmuLoader.Core/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/EmuLoader.Core/obj/Debug/EmuLoader.Core.csproj.FileListAbsolute.txt
/EmuLoader.Core/obj/Debug/EmuLoader.Core.csprojResolveAssemblyReference.cache
/EmuLoader.Core/obj/Debug/EmuLoader.Core.dll
/EmuLoader.Core/bin/Release
/EmuLoader.Core/obj/Release
/EmuLoader.Core/obj/Debug
/.vs
/EmuLoader.Gui/obj/Release/net8.0-windows/EmuLoader.Gui.AssemblyInfo.cs
/EmuLoader.Gui/bin/Release/net8.0-windows/EmuLoader.Gui.dll
/TestProject/bin/Release/net8.0/EmuLoader.Core.dll
/TestProject/obj/Release/net8.0/TestProject.dll
/EmuLoader.Gui/bin/Release/net8.0-windows/Newtonsoft.Json.dll
/EmuLoader.Core/bin/Debug/net8.0/EmuLoader.Core.dll
/EmuLoader.Gui/obj/
/EmuLoader.Gui/obj/Debug/
/EmuLoader.Gui/obj/Debug/net8.0-windows/
/EmuLoader.Gui/obj/Debug/net8.0-windows/ref/
/EmuLoader.Gui/obj/Debug/net8.0-windows/ref/EmuLoader.Gui.dll
/EmuLoader.Gui/obj/Debug/net8.0-windows/EmuLoader.Gui.csproj.AssemblyReference.cache
/TestProject/obj/
/TestProject/obj/Debug/
/TestProject/obj/Debug/net8.0/
/EmuLoader.Gui/obj/
/EmuLoader.Gui/obj/Debug/
/EmuLoader.Gui/obj/Debug/net8.0-windows/
/EmuLoader.Gui/obj/Debug/net8.0-windows/ref/
/EmuLoader.Gui/obj/Debug/net8.0-windows/ref/EmuLoader.Gui.dll
/TestProject/obj/Debug/net8.0/TestProject.assets.cache
/EmuLoader.Gui/obj/Debug/net8.0-windows/ref/EmuLoader.Gui.dll
/EmuLoader.Gui/obj/Release/net8.0-windows/EmuLoader.Gui.AssemblyInfo.cs
/EmuLoader.Gui/obj/Release/net8.0-windows/EmuLoader.Gui.AssemblyInfoInputs.cache
/EmuLoader.Gui/obj/Release/net8.0-windows/EmuLoader.Gui.assets.cache
/EmuLoader.Gui/obj/Release/net8.0-windows/EmuLoader.Gui.csproj.AssemblyReference.cache
/TestProject/obj/Release/net8.0/TestProject.AssemblyInfo.cs
/TestProject/obj/Release/net8.0/TestProject.AssemblyInfoInputs.cache
/TestProject/obj/Release/net8.0/TestProject.assets.cache
/TestProject/obj/Release/net8.0/TestProject.csproj.AssemblyReference.cache
/EmuLoader.Core/obj/EmuLoader.Core.csproj.nuget.g.props
/EmuLoader.Gui/bin/Release/net8.0-windows/EmuLoader.Core.dll
/EmuLoader.Gui/bin/Release/net8.0-windows/EmuLoader.Gui.dll
/EmuLoader.Gui/obj/Release/net8.0-windows/ref/EmuLoader.Gui.dll
/EmuLoader.Gui/obj/Release/net8.0-windows/refint/EmuLoader.Gui.dll
/EmuLoader.Gui/obj/Release/net8.0-windows/EmuLoader.Gui.csproj.GenerateResource.cache
/EmuLoader.Gui/obj/Release/net8.0-windows/EmuLoader.Gui.dll
/EmuLoader.Gui/obj/Release/net8.0-windows/EmuLoader.Gui.sourcelink.json
/EmuLoader.Gui/obj/EmuLoader.Gui.csproj.nuget.g.props
/TestProject/bin/Release/net8.0/EmuLoader.Core.dll
/TestProject/bin/Release/net8.0/TestProject.dll
/TestProject/obj/Release/net8.0/ref/TestProject.dll
/TestProject/obj/Release/net8.0/refint/TestProject.dll
/TestProject/obj/Release/net8.0/TestProject.dll
/TestProject/obj/Release/net8.0/TestProject.sourcelink.json
/TestProject/obj/TestProject.csproj.nuget.g.props
/EmuLoader.Core/bin/Debug/net8.0/EmuLoader.Core.dll
/EmuLoader.Core/obj/EmuLoader.Core.csproj.nuget.dgspec.json
/EmuLoader.Core/obj/project.assets.json
/EmuLoader.Core/obj/project.nuget.cache
/EmuLoader.Gui/bin/Debug/net8.0-windows/EmuLoader.Core.dll
/EmuLoader.Gui/bin/Debug/net8.0-windows/EmuLoader.Gui.dll
/EmuLoader.Gui/bin/Debug/net8.0-windows/EmuLoader.Gui.runtimeconfig.json
/EmuLoader.Gui/bin/Release/net8.0-windows/EmuLoader.Gui.runtimeconfig.json
/EmuLoader.Gui/obj/Debug/net8.0-windows/EmuLoader.Gui.AssemblyInfo.cs
/EmuLoader.Gui/obj/Debug/net8.0-windows/EmuLoader.Gui.AssemblyInfoInputs.cache
/EmuLoader.Gui/obj/Debug/net8.0-windows/EmuLoader.Gui.assets.cache
/EmuLoader.Gui/obj/Debug/net8.0-windows/EmuLoader.Gui.csproj.AssemblyReference.cache
/EmuLoader.Gui/obj/Debug/net8.0-windows/EmuLoader.Gui.csproj.CoreCompileInputs.cache
/EmuLoader.Gui/obj/Debug/net8.0-windows/EmuLoader.Gui.csproj.FileListAbsolute.txt
/EmuLoader.Gui/obj/Debug/net8.0-windows/EmuLoader.Gui.csproj.GenerateResource.cache
/EmuLoader.Gui/obj/Debug/net8.0-windows/EmuLoader.Gui.designer.runtimeconfig.json
/EmuLoader.Gui/obj/Debug/net8.0-windows/EmuLoader.Gui.dll
/EmuLoader.Gui/obj/Debug/net8.0-windows/EmuLoader.Gui.GeneratedMSBuildEditorConfig.editorconfig
/EmuLoader.Gui/obj/Debug/net8.0-windows/EmuLoader.Gui.genruntimeconfig.cache
/EmuLoader.Gui/obj/Debug/net8.0-windows/EmuLoader.Gui.sourcelink.json
/EmuLoader.Gui/obj/Debug/net8.0-windows/ref/EmuLoader.Gui.dll
/EmuLoader.Gui/obj/Debug/net8.0-windows/refint/EmuLoader.Gui.dll
/EmuLoader.Gui/obj/EmuLoader.Gui.csproj.nuget.dgspec.json
/EmuLoader.Gui/obj/project.assets.json
/EmuLoader.Gui/obj/project.nuget.cache
/EmuLoader.Gui/obj/Release/net8.0-windows/EmuLoader.Gui.csproj.CoreCompileInputs.cache
/EmuLoader.Gui/obj/Release/net8.0-windows/EmuLoader.Gui.csproj.FileListAbsolute.txt
/EmuLoader.Gui/obj/Release/net8.0-windows/EmuLoader.Gui.GeneratedMSBuildEditorConfig.editorconfig
/EmuLoader.Gui/obj/Release/net8.0-windows/EmuLoader.Gui.genruntimeconfig.cache
/TestProject/bin/Debug/net8.0/CoverletSourceRootsMapping_TestProject
/TestProject/bin/Release/net8.0/CoverletSourceRootsMapping_TestProject
/TestProject/obj/Debug/net8.0/TestProject.AssemblyInfo.cs
/TestProject/obj/Debug/net8.0/TestProject.AssemblyInfoInputs.cache
/TestProject/obj/Debug/net8.0/TestProject.assets.cache
/TestProject/obj/Debug/net8.0/TestProject.csproj.AssemblyReference.cache
/TestProject/obj/Debug/net8.0/TestProject.GeneratedMSBuildEditorConfig.editorconfig
/TestProject/obj/project.assets.json
/TestProject/obj/project.nuget.cache
/TestProject/obj/Release/net8.0/TestProject.csproj.CoreCompileInputs.cache
/TestProject/obj/Release/net8.0/TestProject.csproj.FileListAbsolute.txt
/TestProject/obj/Release/net8.0/TestProject.GeneratedMSBuildEditorConfig.editorconfig
/TestProject/obj/Release/net8.0/TestProject.genruntimeconfig.cache
/TestProject/obj/TestProject.csproj.nuget.dgspec.json
