
*.pdb
*.exe
*.suo
/EmuLoader/bin
/EmuLoader/obj
/Tests/bin/Debug
/Tests/obj
/Tests/bin/Release
/EmuLoader.Core/bin/Debug/EmuLoader.Core.dll
/EmuLoader.Core/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/EmuLoader.Core/obj/Debug/EmuLoader.Core.csproj.FileListAbsolute.txt
/EmuLoader.Core/obj/Debug/EmuLoader.Core.csprojResolveAssemblyReference.cache
/EmuLoader.Core/obj/Debug/EmuLoader.Core.dll
/EmuLoader.Core/bin/Release
/EmuLoader.Core/obj/Release
